{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<header>
  <h1>Объявления</h1>
</header>

<nav>
    <a href="{% url 'bboard:index' %}">Главная</a>
    <a href="{% url 'bboard:add' %}">Добавить</a>
    <a href="{% url 'bboard:add_rubric' %}">Добавить рубрику</a>
    {% for rubric in rubrics %}
<!--        <a href="{#% url 'bboard:by_rubric' rubric.pk %#}">{{ rubric.name }}</a>-->
        <a href="{{ rubric.get_absolute_url }}">{{ rubric }}({{ rubric.cnt }})</a>
    {% endfor %}
</nav>

<section>
  {% block content %}
  {% endblock %}
</section>

</body>
</html>